<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<!-- Change these paths without touching the code -->
		<add key="SourceFolder" value="C:\Folder A" />
		<add key="TargetFolder" value="C:\Folder B" />
	</appSettings>
</configuration>
